@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.btn {
  margin: 25px;
  border-radius: 5px;
  border: none;
  background-color: #04bb8d;
  color: white;
  transition: .3s;
  width: 90px;
  height: 40px;
}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #03a27a;
}

.hide {
  height: 0px;
}

.show {
  height: 130px;
}

.btn-active {
  background-color: rgba(7, 168, 28, 0.774) !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  background-color: #e7e6e6;
  min-height: 100vh;
  flex-direction: column;
}

.container nav {
  background-color: #04afbb;
  color: white;
  padding: 20px;
}

.container nav .title {
  font-size: 15px;
  text-align: center;
}

.container main {
  padding: 20px 0;
}

.container main .main-container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.container main .main-container .letters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  min-height: 60vh;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
}

.container main .main-container .letters-container .container-title {
  text-transform: capitalize;
}

.container main .main-container .letters-container .options {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.container main .main-container .letters-container .options .inputs-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  width: 100%;
}

.container main .main-container .letters-container .options .inputs-box input {
  margin-top: 20px;
  padding: 10px 20px;
  width: 100%;
}

.container main .main-container .letters-container .options .inputs-box textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
}

.container main .main-container .letters-container .letters {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.container main .main-container .letters-container .letters .card {
  position: relative;
  display: flex;
  background-color: rgba(238, 238, 238, 0.507);
  width: 100%;
  padding: 20px 20px;
  margin-top: 10px;
  box-shadow: 0 0 5px 0.5px rgba(68, 68, 68, 0.377);
  flex-direction: column;
}

.container main .main-container .letters-container .letters .card .bg-letter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1;
}

.container main .main-container .letters-container .letters .card .title-phone {
  display: flex;
  flex-grow: 1;
  z-index: 2;
}

.container main .main-container .letters-container .letters .card .title-phone h3 {
  font-size: 24px;
  font-weight: 700;
}

.container main .main-container .letters-container .letters .card .delete-button {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 5;
  font-size: 20px;
  transition: 0.3s;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.container main .main-container .letters-container .letters .card .delete-button .fa-times {
  color: red;
}

.container main .main-container .letters-container .letters .card .delete-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.container main .main-container .letters-container .letters .card .content-box {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  transition: 0.3s;
  overflow: hidden;
}

.container main .main-container .letters-container .letters .card .content-box p {
  text-align: justify;
  overflow: auto;
  padding: 5px;
  z-index: 2;
}

@media (min-width: 550px) {
  .container nav {
    padding: 30px;
  }
  .container nav .title {
    font-size: 25px;
    text-align: center;
  }
  .container main .main-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
  }
  .container main .main-container .letters-container {
    width: 500px;
    min-height: 60vh;
    margin: 10px 20px;
  }
  .container main .main-container .letters-container h1 {
    font-size: 1.8em;
  }
  .container main .main-container .letters-container .letters .card .title-phone {
    font-size: 1em;
    text-transform: capitalize;
  }
  .container main .main-container .letters-container .letters .card .title-phone h3 {
    font-weight: 500;
  }
}
